{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <title>
        {% block title %}
        {% endblock %}
    </title>

    {% block head %}
    {% endblock %}


</head>
<body>

    {% include 'nav.html' %}
    
    {% block body %}
    {% endblock %}

    {% include 'footer.html' %}

    <script src="{% static 'Hotel/js/nav.js' %}"></script>
    <script src="{% static 'Hotel/js/drag_drop.js' %}"></script>
</body>
</html>