{% load static %}

<link rel="stylesheet" href="{% static 'Hotel/css/nav.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

<nav class="main-nav">
    <div class="nav-container">
        <div class="nav-logo">
            <a href="/">
                <img src="{% static 'Hotel/img/Aurora(2).jpg' %}" alt="Logo" class="nav-logo-img">
            </a>
        </div>

        <div class="nav-toggle" id="navToggle">
            <span class="nav-toggle-bar"></span>
            <span class="nav-toggle-bar"></span>
            <span class="nav-toggle-bar"></span>
        </div>

    {% if request.user.is_authenticated %}
        {% if user.groups.all.0.name == "Gerente"%}
            <ul class="nav-menu" id="navMenu">
                <li class="nav-item">
                    <a href="/quartos" class="nav-link">Quartos</a>
                </li>
                <li class="nav-item">
                    <a href="/addquarto" class="nav-link">Add Quarto</a>
                </li>
                <li class="nav-item">
                    <a href="/addcolaborador" class="nav-link">Add Colaborador</a>
                </li>
                <li class="nav-item">
                    <a href="/logout" class="nav-link">Logout</a>
                </li>
            </ul>
        {% else %}
            <ul class="nav-menu" id="navMenu"></ul>
                <li class="nav-item">
                    <a href="/quartos" class="nav-link">Quartos</a>
                </li>
                <li class="nav-item">
                    <a href="/logout" class="nav-link">Logout</a>
                </li>
            </ul>
            {% endif %}
    {% else %}
            <ul class="nav-menu" id="navMenu">
                <li class="nav-item">
                    <a href="/login" class="nav-link">Login</a>
                </li>
            </ul>

    {% endif %}
    </div>
</nav>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const navToggle = document.getElementById('navToggle');
        const navMenu = document.getElementById('navMenu');

        navToggle.addEventListener('click', function() {
            navMenu.classList.toggle('show');
            navToggle.classList.toggle('active');
        });
    });
</script>