{% extends 'index.html' %}
{% load static %}

{% block title %}
    LOGIN
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'Hotel/css/Login.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}
    <main class="login-page">
        <div class="login-wrapper">
            <div class="login-container">
                <form method="POST">
                    {% csrf_token %}
                    <h2 class="title-login">Login</h2>

                    <div class="form-group">
                        <label for="username">Usuário</label>
                        <input type="text" name="username" id="username" placeholder="Digite seu usuário" required />
                    </div>

                    <div class="form-group">
                        <label for="password">Senha</label>
                        <input type="password" name="password" id="password" placeholder="Digite sua senha" required />
                    </div>

                    <button type="submit">Entrar</button>
                    
                    {% if error %}
                        <p class="error-msg">{{ error }}</p>
                    {% endif %}
                </form>
            </div>
        </div>
    </main>
{% endblock %}
